<h1>Write a new article:</h1>

<form method="post" action="/articles">
<p>Title: <input type="text" NAME="title" id="title"></p>
<p>Content: <input type="text" NAME="content" id="content"></p>
<p><input type="submit" value="Submit"></p>
</form>